-# frozen_string_literal: true
= form_for(@resource) do |f|
  .form-inputs
    .form-group
      = f.label :title, "Title", class: "control-label"
      = f.text_field :title, class: "form-control"

  .form-actions
    .pull-right
      = f.submit "Create Collection", class: "btn btn-primary"
