.card.search-status.mb-3
  #search-status.card-body
    = search_status(@count, @start, @window, "collection")

.row.justify-content-md-center
  .col-md-auto
    = paginate(@count, @window, @current_page, @permitted_params)

= resource_list(@collections)

.row.justify-content-md-center
  .col-md-auto
    = paginate(@count, @window, @current_page, @permitted_params)