.btn-group.float-end{role: "group"}
  -# Delete button
  - if policy(@collection).delete?
    = link_to(collection_delete_path(@collection), class: 'btn btn-danger',
                                                   method: :post,
                                                   "data-confirm": "Are you sure you want to delete this collection?") do
      %i.fa.fa-trash
      Delete