.btn-group.float-right{role: "group"}
  - if policy(@collection).edit_collection_membership?
    %button.btn.btn-light.edit-collection-membership{"data-collection-id": @collection.id,
                                                     "data-target": "#edit-collection-membership-modal",
                                                     "data-toggle": "modal",
                                                     role: "button"}
      %i.fas.fa-pencil-alt
      Change Collection Membership
    %button.btn.btn-light.add-sub-collection{"data-collection-id": @collection.id,
                                             "data-target": "#add-collection-modal",
                                             "data-toggle": "modal",
                                             role: "button"}
      %i.fa.fa-plus
      Add Child Collection

.clearfix

- if @collection.parent
  %h2 Parent Collection
  = resource_list([@collection.parent])

- if @subcollections.any?
  %h2 Child Collections
  = resource_list(@subcollections)
