%dl
  %dt File Downloads
  %dd= number_with_delimiter(@collection.download_count(include_children: true))
  %dt Items Awaiting Review
  %dd= number_with_delimiter(@collection.submitted_item_count(include_children: true))

%p.text-info
  %i.fa.fa-info-circle
  Figures include all child collections.