.clearfix.mb-3

  .btn-group.float-right{role: "group"}
    - if policy(@collection).edit_unit_membership?
      %button.btn.btn-light.edit-unit-membership{"data-collection-id": @collection.id,
                                                 "data-target": "#edit-unit-membership-modal",
                                                 "data-toggle": "modal",
                                                 role: "button"}
        %i.fas.fa-pencil-alt
        Change Unit Membership

= resource_list(@collection.units.sort_by(&:title),
                primary_id: @collection.primary_unit.id)