%dl
  %dt File Downloads
  %dd= number_with_delimiter(@num_downloads)
  %dt Items Awaiting Review
  %dd= number_with_delimiter(@num_submitting_items)

%p.text-info
  %i.fa.fa-info-circle
  Figures include all child collections.