.btn-group.float-right{role: "group"}
  - if policy(@resource).edit_unit_membership?
    %button.btn.btn-light.edit-unit-membership{"data-collection-id": @resource.id,
                                               "data-target": "#edit-unit-membership-modal",
                                               "data-toggle": "modal",
                                               role: "button"}
      %i.fas.fa-pencil-alt
      Change Unit Membership

= resource_list(@resource.all_units.sort{ |u| u.title <=> u.title },
                primary_id: @resource.primary_unit_id)