%h1
  =icon_for(@resource)
  =@resource.title

-if @resource.items.count.positive?
  .float-right
    = item_search_field(@resource, Item::IndexFields::PRIMARY_COLLECTION)
  %h2 Items
  = resource_list(@resources)
