- provide :body_id, "show_collection"
- provide :title, @collection.title

.btn-group.float-end{role: "group"}
  - if policy(@collection).exhume?
    = link_to(collection_exhume_path(@collection),
              class:          "btn btn-danger",
              method:         :post,
              "data-confirm": "Are you sure you want to undelete this collection?") do
      %i.fa.fa-trash-restore
      Undelete

.clearfix
.text-center
  %h1 410 Gone
  %hr
  %p This collection has been deleted.
