%h1
  = @resource.title
-if @resource.items.count.positive?
  =render partial: "items/listing", locals:{search: @item_search, form_action: "/collections/#{@resource.id}", search_prompt: "search for items within collection"}