-if current_user
  .btn-group.float-right{role: "group"}
    / Delete button
    = link_to(collection_path(@resource), class: 'btn btn-danger',
                                          method: :delete,
                                          "data-confirm": "Are you sure you want to delete this collection?") do
      %i.fa.fa-trash
      Delete

%h1
  =icon_for(@resource)
  =@resource.title

-if @resource.items.count.positive?
  .float-right
    = item_search_field(@resource, Item::IndexFields::PRIMARY_COLLECTION)
  %h2 Items
  = resource_list(@resources)
