-if @resource.items.count.positive?
  =render partial: "collections/listing", locals:{resources: @resources, form_action: "/collections/#{@resource.id}", search_prompt: "search for items within collection"}