-# N.B.: this template must be kept aligned with institutions/_show_index_pages_tab

- provide :body_id, "index_pages"
- provide :title, "Index Pages"

= hidden_field_tag :institution_id, current_institution.id

- if policy(IndexPage).new?
  .btn-group.float-end{role: "group"}
    -# Add Index Page button
    %button.btn.btn-light.add-index-page{"data-bs-target": "#add-index-page-modal",
                                         "data-bs-toggle": "modal",
                                         type:             "button"}
      %i.fa.fa-plus
      Add Index Page

%h1 Index Pages

= render partial: "listing"

= render partial: "shared/xhr_modal",
         locals: { id: "add-index-page-modal",
                   title: "Add Index Page" }