-# N.B.: this template must be kept aligned with registered_elements/index

.btn-group.mb-3.float-end{role: "group"}
  -# Add Element button
  %button.btn.btn-light.add-element{"data-bs-target": "#add-element-modal",
                                    "data-bs-toggle": "modal",
                                    type:             "button"}
    %i.fa.fa-plus
    Add Element

.clearfix

= render partial: "registered_elements/listing"

= render partial: "shared/ajax_modal",
         locals: { id: "add-element-modal", title: "Add Element" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-element-modal", title: "Edit Element" }

