-# N.B.: this template must be kept aligned with prebuilt_searches/index

- if policy(PrebuiltSearch).new?
  .btn-group.float-end{role: "group"}
    -# Add Prebuilt Search button
    %button.btn.btn-light.add-prebuilt-search{"data-bs-target": "#add-prebuilt-search-modal",
                                              "data-bs-toggle": "modal",
                                              type:             "button"}
      %i.fa.fa-plus
      Add Prebuilt Search

.clearfix

= render partial: "prebuilt_searches/listing"

= render partial: "shared/xhr_modal",
         locals: { id: "add-prebuilt-search-modal",
                   size: :lg,
                   title: "Add Prebuilt Search" }