-# N.B.: this template must be kept aligned with vocabularies/index

- if policy(Vocabulary).new?
  .btn-group.float-end{role: "group"}
    -# Add button
    %button.btn.btn-light.add-vocabulary{"data-bs-target": "#add-vocabulary-modal",
                                         "data-bs-toggle": "modal",
                                         type:             "button"}
      %i.fa.fa-plus
      Add Vocabulary

#vocabularies-list
  = render partial: "vocabularies/vocabularies"

= render partial: "shared/xhr_modal",
         locals: { id: "add-vocabulary-modal", title: "Add Vocabulary" }
