-# N.B.: this template must be kept aligned with submission_profiles/index

.btn-group.float-end{role: "group"}
  -# Add Profile button
  %button.btn.btn-light.add-submission-profile{"data-bs-target": "#add-submission-profile-modal",
                                               "data-bs-toggle": "modal",
                                               type:             "button"}
    %i.fa.fa-plus
    Add Profile

= render partial: "submission_profiles/listing"

= render partial: "shared/xhr_modal",
         locals: { id: "add-submission-profile-modal", title: "Add Submission Profile" }

