- if @institution.users.any?
  - @institution.users.each do |user|
    .media.resource-list.mb-3
      .thumbnail
        = link_to(user.becomes(User)) do
          = icon_for(user)
      .media-body
        .mt-0.mb-0
          %h5= link_to(user.name, user.becomes(User))
- else
  %p There are no users in this institution.