.btn-group.float-end{role: "group"}
  - if policy(@institution).invite_administrator?
    -# Invite Administrator button
    %button.btn.btn-light.invite-administrator{"data-bs-target":       "#invite-administrator-modal",
                                               "data-bs-toggle":       "modal",
                                               role:                   "button",
                                               "data-institution-key": @institution.key }
      %i.fa.fa-plus
      Invite Administrator
  - if policy(@institution).edit_administrators?
    -# Edit Administrators button
    %button.btn.btn-light.edit-administrators{"data-bs-target":       "#edit-administrators-modal",
                                              "data-bs-toggle":       "modal",
                                              role:                   "button",
                                              "data-institution-key": @institution.key}
      %i.fas.fa-pencil-alt
      Edit Administrators

.clearfix.mb-3

.row
  .col-md-6
    .card.mb-3
      .card-body
        %h5.card-title Direct Group Administrators
        - if @institution.administering_groups.any?
          %ul
            - @institution.administering_groups.each do |group|
              %li= link_to(group.name, group)
        - else
          None

  .col-md-6
    .card.mb-3
      .card-body
        %h5.card-title Direct User Administrators
        - if @institution.administering_users.any?
          %ul
            - @institution.administering_users.each do |user|
              %li= link_to(user.name, user.becomes(User))
        - else
          None

= render partial: "shared/ajax_modal",
       locals: { id: "invite-administrator-modal",
                 title: "Invite Administrator" }
= render partial: "shared/ajax_modal",
       locals: { id: "edit-administrators-modal",
                 title: "Edit Administrators" }