-# N.B.: this template must be kept aligned with index_pages/index

- if policy(IndexPage).new?
  .btn-group.float-end{role: "group"}
    -# Add Index Page button
    %button.btn.btn-light.add-index-page{"data-bs-target": "#add-index-page-modal",
                                         "data-bs-toggle": "modal",
                                         type:             "button"}
      %i.fa.fa-plus
      Add Index Page

= render partial: "index_pages/listing"

= render partial: "shared/ajax_modal",
         locals: { id: "add-index-page-modal",
                   title: "Add Index Page" }