- if @institution.users.count > 0
  %ul
    - @institution.users.order(:name).each do |user|
      %li
        = link_to(user) do
          = icon_for(user)
          = user.name
- else
  %p There are no users in this institution.