- provide :title, "Institutions"

-if policy(Institution).new?
  .btn-group.float-right{role: "group"}
    -# Add Institution button
    %button.btn.btn-light{"data-target": "#add-institution-modal",
                          "data-toggle": "modal", type: "button"}
      %i.fa.fa-plus
      Add Institution

%h1 Institutions

%table.table
  %thead
    %tr
      %th Name
      %th Key
      %th FQDN
  %tbody
    - @institutions.each do |institution|
      %tr
        %td= link_to(institution.name, institution)
        %td
          %code= institution.key
        %td= link_to(institution.fqdn, institution.url)

= render partial: "institutions/add_modal", locals: { institution: @new_institution }