= render partial: "invitees/invitees",
         locals: { count:            @invitees_count,
                   current_page:     @invitees_current_page,
                   invitees:         @invitees,
                   permitted_params: @invitees_permitted_params,
                   window:           @invitees_window }
