- provide :title, "Dashboard"

%h1 Dashboard

- any_approvals = @invitees_count > 0 && policy(Invitee).approve?

%nav
  .nav.nav-tabs{role: "tablist"}
    - if any_approvals
      #nav-approval-tab.nav-item.nav-link.active{"data-toggle": "tab",
                                                 href: "#nav-approval",
                                                 role: "tab",
                                                 "aria-controls": "nav-approval",
                                                 "aria-selected": "true"}
        Invitees Pending Approval
        %span.badge.badge-pill.badge-warning= @invitees_count
    #nav-submissions-tab.nav-item.nav-link{"data-toggle": "tab",
                                           href: "#nav-submissions",
                                           role: "tab",
                                           "aria-controls": "nav-submissions",
                                           "aria-selected": "true",
                                           class: any_approvals ? "" : "active"}
      My Submissions
      %span.badge.badge-pill.badge-secondary= @submissions_in_progress.count

.tab-content
  - if any_approvals
    #nav-approval.tab-pane.fade.show.active{role: "tabpanel",
                                               "aria-labelledby": "nav-approval-tab"}
      = render partial: "approval_tab"
  #nav-submissions.tab-pane.fade{role: "tabpanel",
                              "aria-labelledby": "nav-submissions-tab",
                              class: any_approvals ? "" : "show active"}
    = render partial: "submissions_tab"
