- provide(:body_id, "messages")
- provide(:title, "Messages")

%h1 Messages

- @messages.each do |message|
  .card.mb-3
    %h5.card-header
      = message.id
    .card-body
      = render partial: "show", locals: { message: message }

