# N.B.: This file gets copied over test.yml in continuous integration. It is
# committed to version control unencrypted.
#

main_host: www.example.com
ad:
  user:
  password:
  server:
  treebase:
  groups:
    "sysadmin@illinois.edu":
      - sysadmin
amqp:
  host: rabbitmq
  user: ideals
  password: password
storage:
  region: us-east-2
  endpoint: http://minio:9000
  access_key_id: MinioUser
  secret_access_key: OpenSesame
  bucket: ideals
primary_db:
  host: postgres
  port: 5432
  database: ideals
  username: postgres
  password: postgres
opensearch:
  endpoint: http://opensearch:9200
  index: ideals-test
handles:
  base_url: http://handle:8000
  prefix: 12345
  use_ghr: false
  api:
    endpoint: https://handle:8000/api
    basic_user: "300:12345/ADMIN"
    basic_secret: password
medusa:
  base_url: https://medusa.example.org
  user:
  secret:
admin:
  tech_mail_list:
    - "admin@example.org"
website:
  global_service_name: Illinois Scholarship
  window:
    default: 25
    min: 10
    max: 50
uofi_email_domains:
  - illinois.edu
  - uillinois.edu
  - uiuc.edu
secret_key_base: doesntmatter