# N.B.: This file gets copied over test.yml in continuous integration. It is
# committed to version control unencrypted.

amqp:
  host: rabbitmq
  port: 5672
  user: ideals
  password: password
aws:
  region: us-east-2
  endpoint: http://minio:9000
  access_key_id: MinioUser
  secret_access_key: OpenSesame
  bucket: ideals-test
primary_db:
  host: postgres
  port: 5432
  database: ideals
  username: postgres
  password: postgres
elasticsearch:
  endpoint: http://elasticsearch:9200
  index: ideals_test
handles:
  base_url:
  prefix: 00000
  api:
    endpoint:
    basic_user:
    basic_secret:
medusa:
  outgoing_queue: ideals_to_medusa
  incoming_queue: medusa_to_ideals
  medusa_path_root:
  file_group_url:
  items_url_base:
mail:
  from: "ideals@example.edu"
elements:
  creator: dc:creator
  description: dc:description
  title: dc:title
admin:
  ad_group:
  tech_mail_list:
    - "admin@example.org"
website:
  base_url: "http://localhost:3000"
  window:
    default: 25
    min: 10
    max: 50
recaptcha:
  site_key:
  secret_key:
uofi_email_domains:
  - illinois.edu
  - uillinois.edu
  - uiuc.edu