# N.B.: This file is committed to version control unencrypted!

primary_db:
  host: localhost
  port: 5432
  database: ideals
  username: postgres
  password: postgres
elasticsearch:
  endpoint: http://localhost:9200
  index: ideals
admin:
  tech_mail_list: "admin@example.org"
root_url_text: "http://localhost:3000"
recaptcha:
  site_key: bogus
  secret_key: bogus
