# N.B.: This file get copied over test.yml in continuous integration. It is
# committed to version control unencrypted.

primary_db:
  host: localhost
  port: 5432
  database: ideals
  username: postgres
  password: postgres
elasticsearch:
  endpoint: http://localhost:9200
  index: ideals_test
elements:
  creator: dc:creator
  description: dc:description
  title: dc:title
admin:
  ad_group:
  tech_mail_list:
    - "admin@example.org"
website:
  base_url: "http://localhost:3000"
  window:
    default: 25
    min: 10
    max: 50
recaptcha:
  site_key: bogus
  secret_key: bogus
