main_host: localhost
ad:
  user:
  password:
  server:
  treebase:
amqp:
  host: rabbitmq
  user: ideals
  password: password
storage:
  region: us-east-2
  endpoint: http://minio:9000
  access_key_id: MinioUser
  secret_access_key: OpenSesame
  bucket: ideals-development
primary_db:
  host: postgres
  port: 5432
  database: ideals_development
  username: postgres
  password: postgres
opensearch:
  endpoint: http://opensearch:9200
  index: ideals-development
handles:
  base_url: http://handle:8000
  prefix: 23456
  use_ghr: false
  api:
    endpoint: https://handle:8000/api
    basic_user: "300:12345/ADMIN"
    basic_secret: password
medusa:
  base_url: https://medusa.example.org
  user:
  secret:
mail:
  no_reply_address: no-reply@illinois.edu
admin:
  tech_mail_list:
    - "admin@example.org"
website:
  global_service_name: Illinois Scholarship
  window:
    default: 25
    min: 10
    max: 50
secret_key_base: 0d05a7a81d4ade23450877ef604c064fb289992de5bf23cb6a217d59d8a60f495133b0cca1a74738db36e200463c819573a9d930e706143a43731d00484af811