primary_db:
  host: localhost
  port: 5432
  database:
  username:
  password:
elasticsearch:
  endpoint: http://localhost:9200
  index:
admin:
  tech_mail_list:
    - somebody@example.org
    - somebody-else@example.org
elements:
  creator: dc:creator
  title: dc:title
website:
  base_url:
  window:
    default: 25
    min: 10
    max: 50
recaptcha:
  site_key:
  secret_key:
# Used as the base secret for all MessageVerifiers in Rails, including the one
# protecting cookies. Generate with `rails secret`.
secret_key_base:
