# AWS configuration.
aws:
  # Application S3 bucket.
  bucket:
  # These keys are used only in development & test. (EC2 IAM credentials are
  # used in demo & production).
  endpoint:
  access_key_id:
  secret_access_key:
  # This key is used only in demo & production.
  region: us-east-2
# Database connection settings, which will get injected into
# config/database.yml.
primary_db:
  host: localhost
  port: 5432
  database:
  username:
  password:
elasticsearch:
  # Endpoint base URL.
  endpoint: http://localhost:9200
  # Index name. This may also be an alias (see the readme).
  index:
admin:
  # Users belonging to this AD group will automatically be assigned sysadmin
  # privileges.
  ad_group:
  # These people will receive emails upon application errors.
  tech_mail_list:
    - somebody@example.org
    - somebody-else@example.org
elements:
  # Where a creator is needed in the user interface, it will be drawn from this
  # element.
  creator: dc:creator
  # Where a description is needed in the user interface, it will be drawn from
  # this element.
  description: dc:description
  # Where a title is needed in the user interface, it will be drawn from this
  # element.
  title: dc:title
website:
  # Public-facing base URL of the website.
  base_url:
  # Feedback email.
  email:
  # Default result window size and bounds. Clients may override the default
  # but not the bounds.
  window:
    default: 25
    min: 10
    max: 50
recaptcha:
  site_key:
  secret_key:
# Users whose email addresses are in any of these domains are blacklisted from
# certain features, such as password resets.
uofi_email_domains:
  - illinois.edu
  - uillinois.edu
  - uiuc.edu
# Used as the base secret for all MessageVerifiers in Rails, including the one
# protecting cookies. Generate with `rails secret`.
secret_key_base:
