# The main host via which global scope is accessed.
main_host: localhost
# Active Directory configuration.
ad:
  user:
  password:
  server:
  treebase:
  # This is a mapping of user emails to mock AD groups, used only in
  # development and test.
  groups:
    some_email:
      - Group 1
      - Group 2
# AMQP configuration.
amqp:
  host:
  user:
  password:
# Storage configuration.
storage:
  # Used only in demo & production.
  region: us-east-2
  bucket:
  # These keys are used only in development & test. (EC2 IAM credentials are
  # used in demo & production).
  endpoint:
  access_key_id:
  secret_access_key:
# Database connection settings, which will get injected into
# config/database.yml.
primary_db:
  host: localhost
  port: 5432
  database:
  username:
  password:
opensearch:
  # Endpoint base URL.
  endpoint: http://localhost:9200
  # Index name. This may also be an alias (see the readme).
  index:
handles:
  base_url:
  prefix:
  use_ghr:
  api:
    endpoint:
    basic_user:
    basic_secret:
# This is not used in development/test.
medusa:
  base_url:
  user:
  secret:
mail:
  no_reply_address: no-reply@illinois.edu
  # N.B. 1: this whole hash is assigned as-is to
  # `config.action_mailer.smtp_settings`. See:
  # https://guides.rubyonrails.org/action_mailer_basics.html#action-mailer-configuration
  # N.B. 2: this section is not used or needed in test.yml.
  # N.B. 3: if using Gmail in development, and 2FA is enabled, you must set up
  # an app password in your Google account, and use that instead of your main
  # Google password.
  smtp:
    address:
    port:
    user_name:
    password:
    authentication: plain
    enable_starttls_auto: true
admin:
  # These people will receive emails upon application errors.
  tech_mail_list:
    - somebody@example.org
    - somebody-else@example.org
website:
  global_service_name: Illinois Commons
# Used as the base secret for all MessageVerifiers in Rails, including the one
# protecting cookies. Generate with `rails secret`.
secret_key_base:
