main_host: www.example.com
ad:
  user:
  password:
  server:
  treebase:
  groups:
    "sysadmin@illinois.edu":
      - sysadmin
amqp:
  host: rabbitmq
  user: ideals
  password: password
storage:
  region: us-east-2
  endpoint: http://minio:9000
  access_key_id: MinioUser
  secret_access_key: OpenSesame
  bucket: ideals-test
primary_db:
  host: postgres
  port: 5432
  database: ideals_test
  username: postgres
  password: postgres
opensearch:
  endpoint: http://opensearch:9200
  index: ideals-test
handles:
  base_url: http://handle:8000
  prefix: 23456
  use_ghr: false
  api:
    endpoint: https://handle:8000/api
    basic_user: "300:12345/ADMIN"
    basic_secret: password
medusa:
  base_url: https://medusa.example.org
  user:
  secret:
elements:
  creator: dc:creator
  date: dc:date:issued
  description: dc:description
  title: dc:title
admin:
  tech_mail_list:
    - "admin@example.org"
website:
  window:
    default: 25
    min: 10
    max: 50
recaptcha:
  site_key:
  secret_key:
uofi_email_domains:
  - illinois.edu
  - uillinois.edu
  - uiuc.edu
  - uis.edu