- if current_institution.key == "uiuc"
  .row
    .col-md-6
      = render partial: "sessions/netid_login_form"
    .col-md-6
      .card
        %h5.card-header I don't have a NetID
        .card-body
          = render partial: "sessions/local_login_form"
- else
  = render partial: "sessions/local_login_form"