.card.text-white.bg-primary
  %h5.card-header I have an Illinois NetID
  .card-body
    %p
      = icon_for(:info)
      Use this login method if you have an
      %code @illinois.edu
      email address.
    = link_to(netid_login_path, class: "btn btn-primary btn-block pt-4 pr-4 pb-4 pl-4") do
      = image_tag "library_wordmark_horizontal_1.png",
          style: "height: 2em",
          alt: "University of Illinois Logo"
      %i.fa.fa-sign-in-alt
      &nbsp;Log in with Illinois NetID