.text-center
  = button_to("/auth/saml", method: :post, class: "btn btn-primary p-4") do
    %i.fa.fa-sign-in-alt
    &nbsp;
    = current_institution.name
    Single Sign-On

  %p.mt-4
    %a{href:             "#",
       "data-bs-target": "#login-carousel",
       "data-bs-slide":  "next"}
      Use local credentials