.text-center
  -# Show this in development even though it doesn't work there, for styling reasons
  = link_to(netid_login_path, class: "btn btn-primary p-4") do
    = image_tag "library_wordmark_horizontal_1.png",
        style: "height: 2em",
        alt: "University of Illinois Logo"
    %i.fa.fa-sign-in-alt
    &nbsp;Log in with Illinois NetID
    - if Rails.env.development?
      %br
      (NONFUNCTIONAL IN DEVELOPMENT)

  %p.mt-4
    %a{href:             "#",
       "data-bs-target": "#login-carousel",
       "data-bs-slide":  "next"}
      I don't have an Illinois NetID