- provide :title, "Reset Password"

%h1 Reset Password

= form_tag(reset_password_path) do
  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb
  .row.mb-3
    = label_tag "password_reset[email]", "Your Email Address", class: "col-sm-3 col-form-label"
    .col-sm-9
      = text_field_tag "password_reset[email]", nil, class: "form-control"
  .row.mb-3
    .col-sm-3
    .col-sm-9
      = submit_tag("Send Reset Instructions", class: 'btn btn-primary')
