# This is the base docker-compose file, defining services common amongst the
# environment-specific files.

version: '3'
services:
  postgres:
    image: postgres:12-alpine
    environment:
      POSTGRES_DB: ideals
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    hostname: postgres
  opensearch:
    build:
      context: .
      dockerfile: docker/opensearch/Dockerfile
    hostname: opensearch
  handle:
    build:
      context: .
      dockerfile: docker/handle/Dockerfile
    hostname: handle
  minio:
    image: minio/minio
    environment:
      MINIO_ACCESS_KEY: MinioUser
      MINIO_SECRET_KEY: OpenSesame
    hostname: minio
    command: server /data
  rabbitmq:
    build:
      context: .
      dockerfile: docker/rabbitmq/Dockerfile
    hostname: rabbitmq