%p
  Thank you for your interest in IDEALS.
%p
  Follow the account activation link to complete your account registration in to IDEALS:

=@identity.activation_url

%p
  Thank you,
%p
  IDEALS Service Team

