<p>Thank you for your interest in <%= @institution.service_name %>.</p>

<p>Follow the link below to register your account:</p>

<p><%= link_to(@identity.registration_url, @identity.registration_url) %></p>
