<p>An IDEALS staff member has invited you to register for IDEALS.</p>

<p>Follow the link below to register your account:</p>

<p><%= link_to(@identity.registration_url, @identity.registration_url) %></p>
