<p>Your item, <b><%= @item_title %></b>, has been approved.
  Its permanent URL is: <a href="<%= @item_handle_url %>"><%= @item_handle_url %></a></p>

<p>Please contact <%= @feedback_email %> with questions.</p>
