<p>A new item has been submitted to <%= @institution.service_name %> and
  requires review by a collection administrator. Please log in and either
  approve or reject it at your earliest convenience.</p>

<p>Follow the link below to review this item:</p>

<p><%= link_to(@item_url, @item_url) %></p>
