<p>Access this link to reset your IDEALS account password:</p>

<p><%= link_to(@identity.password_reset_url, @identity.password_reset_url) %></p>

<p>This link will expire in two hours.</p>

<p>If you did not request to reset your password, this email can be safely ignored.</p>

<p>If you have any questions, please reply to this email.</p>
