- provide :title, 'All Tasks'
- provide :body_id, 'tasks'

%h1 All Tasks

= hidden_field_tag(:limit, @limit)

= render partial: "filter_form"

#tasks-list
  = render partial: "tasks"

= render partial: "shared/xhr_modal",
         locals: { id: "show-task-modal",
                   title: "Task" }
