- provide :title, 'All Tasks'
- provide :body_id, 'tasks'

%h1 All Tasks

#tasks-list
  = render partial: "tasks"

= render partial: "shared/ajax_modal",
         locals: { id: "show-task-modal",
                   title: "Task" }
