- if @prebuilt_searches.any?
  %table.table
    %thead
      %tr
        %th Name
    %tbody
      - @prebuilt_searches.each do |search|
        %tr
          %td= link_to(search.name, search)
- else
  %p No prebuilt searches have been created yet.
