-# @param user_group [UserGroup]

= form_for(user_group, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  = hidden_field_tag "user_group[netid_users][]"
  - users = f.object.netid_users
  - users = [ShibbolethUser.new] if users.empty?
  - users.each do |user|
    .input-group.mb-3
      = text_field_tag "user_group[netid_users][]", user.name,
                       class: "form-control"
      .input-group-append
        %button.btn.btn-outline-danger.remove{type: "button"}
          %i.fa.fa-minus
  %button.btn.btn-outline-success.add{type: "button"}
    %i.fa.fa-plus

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit("Edit", class: "btn btn-primary")
