-# @param user_group [UserGroup]

= form_for(user_group, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  = hidden_field_tag "user_group[shibboleth_users][]"
  - users = f.object.shibboleth_users
  - users = [User.new] if users.empty?
  - users.each do |user|
    .input-group.mb-3
      = text_field_tag "user_group[shibboleth_users][]", user.netid,
                       placeholder: "NetID",
                       class: "form-control"
      %button.btn.btn-outline-danger.remove{type: "button"}
        %i.fa.fa-minus
  %button.btn.btn-outline-success.add{type: "button"}
    %i.fa.fa-plus

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: "btn btn-primary")
