- provide :body_id, "user_groups"
- provide :title, "User Groups"

.btn-group.float-right{role: "group"}
  -# Add User Group button
  %button.btn.btn-light.add-user-group{"data-target": "#add-user-group-modal",
                                       "data-toggle": "modal",
                                       type:          "button"}
    %i.fa.fa-plus
    Add User Group

%h1
  User Groups
  %small
    in
    = current_institution.name

- if @user_groups.any?
  %ul
    - @user_groups.each do |group|
      %li= link_to(group.name, group)
- else
  %p This institution has no user groups.

= render partial: "shared/ajax_modal",
         locals: { id: "add-user-group-modal", title: "Add User Group" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-user-group-modal", title: "Edit User Group" }

