- provide :body_id, "statistics"
- provide :title, "Statistics"

%h1 Statistics

.d-flex
  .nav.flex-column.nav-pills.me-3{role:               "tablist",
                                  "aria-orientation": "vertical"}
    %button#items-tab.nav-link.active{"data-bs-target": "#items-tab-content",
                                      "data-bs-toggle": "pill",
                                      role:             "tab",
                                      type:             "button",
                                      "aria-controls":  "items-tab-content",
                                      "aria-selected":  "true"}
      = icon_for(Item)
      Items

    %button#files-tab.nav-link{"data-bs-target": "#files-tab-content",
                               "data-bs-toggle": "pill",
                               role:             "tab",
                               type:             "button",
                               "aria-controls":  "files-tab-content",
                               "aria-selected":  "false"}
      %i.fa.fa-file
      Files

  .tab-content.w-100
    #items-tab-content.tab-pane.fade.show.active{role:              "tabpanel",
                                                 "aria-labelledby": "properties-tab"}
      = spinner

    #files-tab-content.tab-pane.fade{role:              "tabpanel",
                                     "aria-labelledby": "settings-tab"}
      = spinner
