footer {
  margin: 1em 0em 0em 0em;
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
  .btn-default {
    background-color: inherit;
    border: 1px solid white;
  }
  .contact-area {
    background-color: $gray-100;
    border-bottom: 4px solid $gray-400;
    padding: 1em;
  }
  .info-area {
    /* background-color is controlled by the theme */
    /* color is controlled by the theme */
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    padding: 1em 0em 2em 0em;
    text-align: center;
    a {
      color: white;
    }
    img {
      max-width: 200px;
    }
    .footer-library_copyright {
      font-size: 11px;
    }
  }
}