body#show_institution {
  #theme-tab-content {
    .card-body {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 4em;
    }
    img {
      max-width: 100%;
    }
  }
  #users-tab-content {
    ul {
      margin-left: 0;
      padding-left: 0;
      li {
        list-style: none;
      }
    }
  }
}