body#registered_elements, body#template_elements {
  input[type=search] {
    max-width: 12em;
  }
  table {
    tr td:first-child {
      width: 1px;
      button, a {
        white-space: nowrap;
      }
    }
    table tr th:first-child {
      text-align: right;
      width: 7em;
    }
  }
  #add-element-modal, #edit-element-modal {
    textarea {
      height: 8em;
    }
  }
}