body#list_units {
  ul#expandable-unit-list {
    font-size: 16pt;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    button.btn-link {
      color: black;
      padding: 0.1em 0.5em 0.1em 0;
    }
    ul {
      list-style: none;
      margin-left: 0.3em;
    }
  }
}

body#show_unit {
  textarea {
    height: 10em;
  }
}