.btn-group.float-end{role: "group"}
  - if @user.credential && policy(@user.credential).edit_password?
    -# Change Local Password button
    %button.btn.btn-light.change-password{"data-credential-id": @user.credential.id,
                                          "data-bs-target":     "#change-password-modal",
                                          "data-bs-toggle":     "modal",
                                          type:                 "button"}
      %i.fas.fa-key
      Change Local Password
  - elsif !@user.credential && policy(Credential).create?
    -# Set Local Password button
    %button.btn.btn-light.create-local-credential{"data-user-id":   @user.id,
                                                  "data-bs-target": "#create-local-credential-modal",
                                                  "data-bs-toggle": "modal",
                                                  type:             "button"}
      %i.fas.fa-key
      Set Local Password

.clearfix

%dl
  %dt Local Password
  %dd
    = boolean(@user.credential, style: :word,
              true_value: "PRESENT", false_value: "NOT SET")

= render partial: "shared/xhr_modal",
         locals: { id: "change-password-modal", title: "Change Local Password" }
= render partial: "shared/xhr_modal",
       locals: { id: "create-local-credential-modal", title: "Set Local Password" }
