.btn-group.float-end{role: "group"}
  - if @user.identity && policy(@user.identity).edit_password?
    -# Change Password button
    %button.btn.btn-light.change-password{"data-identity-id": @user.identity.id,
                                          "data-bs-target":   "#change-password-modal",
                                          "data-bs-toggle":   "modal",
                                          type:               "button"}
      %i.fas.fa-key
      Change Password

.clearfix

%dl
  %dt Local Credentials
  %dd
    = boolean(@user.identity, style: :word,
              true_value: "PRESENT", false_value: "NOT SET")

= render partial: "shared/xhr_modal",
         locals: { id: "change-password-modal", title: "Change Password" }