%dl
  %dt User Groups
  %dd
    - if @user.user_groups.any?
      %ul
        - @user.user_groups.each do |group|
          %li= link_to(group.name, group)
    - else
      None
  - if @user.kind_of?(ShibbolethUser)
    %dt AD Groups
    %dd
      - if @user.ad_groups.any?
        %ul
          - @user.ad_groups.each do |group|
            %li
              %code= group.short_name
      - else
        None

= render partial: "shared/ajax_modal",
         locals: { id: "edit-privileges-modal", title: "Edit Privileges" }