%table.table
  %thead
    %tr
      %th Begun
      %th Last Updated
      %th Collection
      %th
  %tbody
    - @submissions.each do |item|
      %tr
        %td= item.created_at
        %td= item.updated_at
        %td= item.primary_collection ? link_to(item.primary_collection&.title, item.primary_collection) : "Not Yet Selected"
        %td
          - if item.submitter == current_user
            = link_to("Continue", edit_item_path(item), class: "btn btn-primary btn-sm")