- provide :body_id, "list_users"
- provide :title, "Users"

-if policy(User).invite?
  .btn-group.float-end{role: "group"}
    -# Invite button
    %button.btn.btn-light{"data-bs-target": "#invite-user-modal",
                          "data-bs-toggle": "modal",
                          type:             "button"}
      %i.fa.fa-plus
      Invite User

%h1
  Users
  %small
    in
    = current_institution.name

= user_filter_form

#users-list
  = render partial: "users", locals: { institution_column: false }

= render partial: "invitees/add_modal", locals: { invitee: @new_invitee }