- if object.errors.any?
  .card.text-white.bg-danger.mb-3.submission-error
    .card-header
      Error
    .card-body
      %ul
        - object.errors.full_messages.each do |msg|
          %li= msg
