.hide-when-printing
  / Static navbar
  %nav.navbar.navbar-default
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "/"} IDEALS
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/deposit"}
            %span.glyphicon.glyphicon-plus
            Deposit
          %li
            %a{:href => "/items"}
              %span.glyphicon.glyphicon-search
              Find
          %li
            %a{:href => "/policies"}
              %span.glyphicon.glyphicon-info-sign
              Policies
          %li
            %a{:href => "/help"}
              %span.glyphicon.glyphicon-question-sign
              Help
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li
            %a(href="/dashboard")
              %span.glyphicon.glyphicon-tasks
              =current_user.name
          %li
            %a{href: "/logout"}
              %span.glyphicon.glyphicon-log-out
              Log out
        - else
          %li
            %a{href: "/login_choice"}
              %span.glyphicon.glyphicon-log-in
              Log in options
  / /.nav-collapse
