%footer.library-footer.hide-when-printing{:role => "contentinfo"}
  .row.footer-info
    %h2.sr-only library website footer information
    %p.repository-footer-info
      IDEALS is a product of the University Library
  .row.lg-copyright-footer
    .col-md-12.copyright-footer{"aria-label" => "university library copyright info"}
      %p
        %a{"aria-label" => "University of Illinois website link", :href => "http://illinois.edu"}
          = image_tag('illinois_wordmark_footer.png', alt: "University of Illinois Logo")
      © 2019 University of Illinois Board of Trustees
