.modal.fade(id="loadingModal")
  .modal-dialog
    .modal-content
      .modal-header
        %button(class="close" data-dismiss="modal")
          &times;
        .text-center
          Processing
      .modal-body
        .loading_image.text-center
          %span(class="far fa-spinner fa-spin fa-4x" )
