.hide-when-printing
  / Static navbar
  %div{"aria-hidden" => "true"}
    %nav.navbar.navbar-mini
      #minibar
        %ul.nav.navbar-nav
          %li.minibar-brand
            %a{:href => "/"} IDEALS
          %li
            %a{:href => "/deposit"}
              %span.glyphicon.glyphicon-plus
              Deposit
          %li
            %a{:href => "/items"}
              %span.glyphicon.glyphicon-search
              Find
          %li
            %a{:href => "/policies"}
              %span.glyphicon.glyphicon-info-sign
              Policies
          %li
            %a{:href => "/help"}
              %span.glyphicon.glyphicon-question-sign
              Help
        %ul.nav.navbar-nav.navbar-right
          - if current_user
            %li
              %a(href="/dashboard")
                %span.glyphicon.glyphicon-tasks
                =current_user.name
            %li
              %a{href: "/logout"}
                %span.glyphicon.glyphicon-log-out
                Log out
          - else
            %li
              %a{href: "/login_choice"}
                %span.glyphicon.glyphicon-log-in
                Log in options
    / /.nav-collapse
