-# N.B.: this template must be kept aligned with institutions/_show_submission_profiles_tab

- provide :body_id, "submission_profiles"
- provide :title, "Submission Profiles"

= hidden_field_tag :institution_id, current_institution.id

.btn-group.float-end{role: "group"}
  -# Add Profile button
  %button.btn.btn-light.add-submission-profile{"data-bs-target": "#add-submission-profile-modal",
                                               "data-bs-toggle": "modal",
                                               type:             "button"}
    %i.fa.fa-plus
    Add Profile

%h1 Submission Profiles

= render partial: "listing"

= render partial: "shared/ajax_modal",
         locals: { id: "add-submission-profile-modal", title: "Add Submission Profile" }
