%h1 Dashboard

-#.sys_admin
-#  %h2 System Administration Section
-#  %table.table.table-bordered
-#    %tr.row
-#      %td.col-md-3
-#        %button{type: "button", class: "btn btn-primary btn-block"}
-#          %a{href: "/invitees", class: "idb"}
-#            Non-NetID Identity Requests
-#      %td.col-md-3
-#        Pending non-NetID requests
-#        %span.badge
-#          = @pending_identity_request_count
-#      %td.col-md-6
-#        .more
-#          %strong Invited > Approved > Registered > Activated
-#          %br
-#          Non-NetID IDEALS identities start with an invitation, either requested by anyone using a public web form, or created by an IDEALS administrator.
-#          If requested using the web form, the request must be approved.
-#          Once approved by an IDEALS administrator at the time of creation or later, the email address can be used to register a non-NetID IDEALS identity.
-#          After the registration form is submitted, the IDEALS system sends an activation link to the email address to verify control of the email address. Once activated, the email address can be used, along with the password established during registration as IDEALS credentials.

%nav
  .nav.nav-tabs{role: "tablist"}
    #nav-about-me-tab.nav-item.nav-link.active{"data-toggle": "tab",
                                               href: "#nav-about-me",
                                               role: "tab",
                                               "aria-controls": "nav-about-me",
                                               "aria-selected": "true"}
      About Me
    #nav-submissions-tab.nav-item.nav-link{"data-toggle": "tab",
                                           href: "#nav-submissions",
                                           role: "tab",
                                           "aria-controls": "nav-submissions",
                                           "aria-selected": "true"}
      My Submissions
      %span.badge.badge-pill.badge-secondary= @submissions_in_progress.count

.tab-content
  #nav-about-me.tab-pane.fade.show.active{role: "tabpanel",
                                          "aria-labelledby": "nav-about-me-tab"}
    = render partial: "users/show_account_tab", locals: { user: @user }

  #nav-submissions.tab-pane.fade{role: "tabpanel",
                                 "aria-labelledby": "nav-submissions-tab"}
    - if @submissions_in_progress.any?
      = render partial: "users/submissions_table",
               locals: { submissions: @submissions_in_progress }
    - else
      %p You have no submissions in progress.
