- if logged_in? && to_do_list.total_items > 0
  .card.text-white.bg-info.mb-2.ms-2.float-end
    .card-header
      = icon_for(:info)
      Action required on
      = pluralize(to_do_list.total_items, "item")
    .card-body.ps-2.pb-2
      %ul
        - to_do_list.items.each do |item|
          %li= link_to(item[:message], item[:url])

- if !current_institution.public
  %p This institution is private.
- elsif current_institution.welcome_html.present?
  = sanitize(current_institution.welcome_html,
             tags: ApplicationHelper::ALLOWED_HTML_TAGS,
             attributes: ApplicationHelper::ALLOWED_HTML_TAG_ATTRIBUTES)
- else
  %p
    This institution's welcome text has not been filled in yet. An institution
    administrator should navigate to
    %strong My Institution &rarr; Settings &rarr; Edit
    and fill it in.