- if logged_in? && to_do_list.total_items > 0
  .card.text-white.bg-info.mb-2.ml-2.float-right
    .card-header
      = icon_for(:info)
      Action required on
      = pluralize(to_do_list.total_items, "item")
    .card-body.pl-2.pb-2
      %ul
        - to_do_list.items.each do |item|
          %li= link_to(item[:message], item[:url])

%h1 Welcome to IDEALS

- if current_institution.welcome_html.present?
  = sanitize(current_institution.welcome_html,
             tags: %w(p a ul ol li),
             attributes: %w(href))
- else
  %p
    This institution's welcome text has not been filled in yet. An institution
    administrator should navigate to My Institution &rarr; Properties &rarr;
    Edit and fill it in.