.container-fluid
  .welcome
    %h2 Welcome to IDEALS
    %ul
      %li
        %p Faculty, staff, and graduate students can deposit their research and scholarship—unpublished and, in many cases, published—directly into IDEALS.
      %li
        %p Departments can use IDEALS to distribute their working papers, technical reports, or other research material.
      %li
        %p IDEALS also includes all electronic theses and dissertations deposited from Fall 2010 onward.