%br
.row
  .col-md-4.col-md-offset-8
    %button{type: button, class: "btn btn-primary btn-block" }
      %a{href: "/login", class: "idb"}
        %span.pull-left
          =image_tag 'favicon.ico'
          %span.glyphicon.glyphicon-log-in
          &nbsp;
          Log in with Illinois NetID
%br
.row
  .col-md-4.col-md-offset-8
    %button{type: button, class: "btn btn-info btn-block idb"}
      %a{href: "#{IDEALS_CONFIG[:root_url_text]}/identities/login", class: "idb"}
        %span.pull-left
          %span.glyphicon.glyphicon-user
          %span.glyphicon.glyphicon-log-in
          &nbsp;
          Log in with non-NetID identity
