.jumbotron
  Something went wrong during attempt to register.
  If you have a NetID, Log in with your NetID using the link at the top right of the screen.
  Registration without a NetID is by approval only.

  Approval for a registration without a NetID can be requested at
  %a(href="/invitees/request" )
  %br

  If you do not have a NetID, but do have approval
  to register with IDEALS, please contact the IDEALS @ Illinois administrators at
  =succeed "." do
    %a(href="mailto:ideals-gen@illinois.edu") ideals-gen@illinois.edu