.jumbotron
  Something went wrong during attempt to register.
  If you have a NetID, Log in with your NetID using the link at the top right of the screen.
  Registration without a NetID is by approval only.

  Approval for a registration without a NetID can be requested at
  %a(href="/invitees/request" )
  %br

  If you do not have a NetID, but are approved to register, please contact the
  = current_institution.service_name administrators at
  = succeed "." do
    %a(href="mailto:#{current_institution.feedback_email}")
      = current_institution.feedback_email