- provide :title, "Events"
- provide :body_id, "events"

%h1
  Events
  %small
    in
    = current_institution.name

= hidden_field_tag(:limit, @limit)

#events-list
  = render partial: "events"

= render partial: "shared/xhr_modal",
         locals: { id: "show-event-modal",
                   title: "Event" }
