-# frozen_string_literal: true

= form_for(@import, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  -# Needed by JavaScript
  = hidden_field_tag "import_uri", import_path(f.object)

  -# This input is hidden via CSS. JavaScript sends .file-drop-zone click
  -# events to it in order to open a file selection dialog.
  %input.file-chooser{type: "file", directory: true, webkitdirectory: true}

  .file-drop-zone.bg-light.mb-3
    %div
      %i.fa.fa-upload
      Drop a package or CSV file here, or click to select it.

  .clearfix
    .float-end
      %button.btn.btn-light.cancel{"data-bs-dismiss": "modal", type: "button"} Cancel

