-# frozen_string_literal: true

= form_tag(import_upload_file_path(@import), multipart: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  -# Needed by JavaScript
  = hidden_field_tag "import_uri", import_path(@import)

  -# This input is hidden via CSS. JavaScript sends .file-drop-zone click
  -# events to it in order to open a file selection dialog.
  = file_field_tag("file",
                   directory: false,
                   class:     "form-control mb-3",
                   accept:    ".csv,.zip")

  -# this is set to display:none and shown via JS when an upload is in progress
  #wait-message
    #progress-bar.progress.mb-2{role:            "progressbar",
                                "aria-label":    "Basic example",
                                "aria-valuenow": 25,
                                "aria-valuemin": 0,
                                "aria-valuemax": 100}
      .progress-bar{style: "width: 25%"}

    %p
      %span#uploaded-bytes
      of
      %span#total-bytes
    %p#eta
    %p
      Please wait for the file to upload. This panel will close when the
      upload is complete.


  .clearfix
    .float-end
      %button.btn.btn-light.cancel{"data-bs-dismiss": "modal", type: "button"} Cancel
      = submit_tag("Upload", class: "btn btn-primary")
