- provide :body_id, "imports"
- provide :title, "Imports"

.btn-group.float-end{role: "group"}
  - if policy(Import).new?
    %button.btn.btn-light.new-import{"data-bs-target": "#new-import-modal",
                                     "data-bs-toggle": "modal",
                                     role:             "button"}
      %i.fa.fa-plus
      New Import&hellip;

%h1 Import Items

#import-list
  = render partial: "imports"

= render partial: "shared/xhr_modal",
         locals: { id: "new-import-modal",
                   title: "New Import" }
= render partial: "shared/xhr_modal",
         locals: { id: "edit-import-modal",
                   title: "Upload Package" }
= render partial: "shared/xhr_modal",
         locals: { id: "show-import-modal",
                   title: "Import Details",
                   size: :lg }