-# Add-invitee modal
-#
-# Requires the following locals:
-#
-# invitee [Invitee]
-# token [String]
-#
#invite-user-modal.modal.fade{"aria-labelledby": "invite-user-modal-label",
                              role:              "dialog",
                              tabindex:          "-1"}
  .modal-dialog.modal-dialog-centered{role: "document"}
    .modal-content
      .modal-header
        %h4#invitee-user-modal-label.modal-title Invite User
        %button.btn-close{"aria-label":      "Close",
                          "data-bs-dismiss": "modal",
                          type:              "button"}
      .modal-body
        = render partial: "invitees/new_form", locals: { invitee: invitee }