-# frozen_string_literal: true

= form_for(invitee, url: invitees_path, remote: true) do |f|
  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb

  .form-group
    = f.label :email, "Email"
    = f.text_field :email, class: "form-control"

  .form-group
    = f.submit "Send Invite", class: "btn btn-primary"