%thead
  %tr.row
    %th.col-md-2
      %strong Email
    %th.col-md-2
      %strong Role
    %th.col-md-2
      %strong Purpose
    %th.col-md-2
      %strong Expires
    %th.col-md-4(colspan="2" )
      %strong Actions