.sysadmin
  %h2 Non-NetID IDEALS identity invitees
  %hr
  %strong Invited > Approved > Registered > Activated
  %ul
    %li Non-NetID IDEALS identities start with an invitation, either requested by anyone using a public web form, or created by an IDEALS administrator.
    %li If requested using the web form, the request must be approved.
    %li Once approved by an IDEALS administrator at the time of creation or later, the email address can be used to register a non-NetID IDEALS identity.
    %li After the registration form is submitted, the IDEALS system sends an activation link to the email address to verify control of the email address. Once activated, the email address can be used, along with the password established during registration as IDEALS credentials.
  %hr
  .row
    .col-md-2.col-md-offset-10
      %button{type: "button", class: "btn btn-primary btn-block"}
        %a{href: "/invitees/new", class: "idb"}
          Add new Invitee
  .panel-group(id="pendingInvitee" role="tablist" aria-multiselectable="true")
    .panel.panel-default
      .panel-heading(role="tab" id="pendingInviteeHeading")
        %h4(class="panel-title")
          %a(role="button" data-toggle="collapse" data-parent="#contact" href="#pendingInviteePanel" aria-expanded="false" aria-controls="pendingInviteePanel" class="accordion-toggle collapsed" )
            %span.metadata-label
              Pending
              %span.badge
                =Invitee.pendings.count
              (click to expand)
      .panel-collapse.collapse(id="pendingInviteePanel" role="tabpanel" aria-labelledby="pendingInviteeHeading" )
        .panel-body
          -if @pending_invitees.count > 0
            %table.table.table-stripped
              =render "thead"
              %tbody
                -Invitee.pendings.each do |invitee|
                  =render "row", invitee: invitee
          -else
            .info-box
              No Pending non-NetID identity invitation requests
  .panel-group(id="approvedInvitee" role="tablist" aria-multiselectable="true")
    .panel.panel-default
      .panel-heading(role="tab" id="approvedInviteeHeading")
        %h4(class="panel-title")
          %a(role="button" data-toggle="collapse" data-parent="#contact" href="#approvedInviteePanel" aria-expanded="false" aria-controls="approvedInviteePanel" class="accordion-toggle collapsed" )
            %span( class="metadata-label" )
              Approved
              %span.badge
                =Invitess.approveds.count
              (click to expand)
      .panel-collapse.collapse(id="approvedInviteePanel" role="tabpanel" aria-labelledby="approvedInviteeHeading" )
        .panel-body
          -if Invitess.approveds.count > 0
            %table.table.table-stripped
              =render "thead"
              %tbody
                -Invitee.approveds.each do |invitee|
                  =render "row", invitee: invitee
          -else
            .info-box
              No approved non-NetID identity invitation requests

  .panel-group(id="rejectedInvitee" role="tablist" aria-multiselectable="true")
    .panel.panel-default
      .panel-heading(role="tab" id="rejectedInviteeHeading")
        %h4(class="panel-title")
          %a(role="button" data-toggle="collapse" data-parent="#contact" href="#rejectedInviteePanel" aria-expanded="false" aria-controls="rejectedInviteePanel" class="accordion-toggle collapsed" )
            %span( class="metadata-label" )
              Rejected
              %span.badge
                =Invitee.rejecteds.count
              (click to expand)
      .panel-collapse.collapse(id="rejectedInviteePanel" role="tabpanel" aria-labelledby="rejectedInviteeHeading" )
        .panel-body
          -if Invitee.rejecteds.count > 0
            %table.table.table-stripped
              =render "thead"
              %tbody
                -Invitee.rejecteds.each do |invitee|
                  =render "row", invitee: invitee
          -else
            .info-box
              No rejected non-NetID Identity requests
.public
  .jumbotron
    This page is for managing non-NetID IDEALS indentity invitations. If you are an administrator, log in to manage invitations.
