-# This input is hidden via CSS. JavaScript sends #file-dropzone click events
-# to it in order to open a file selection dialog.
%input#file-chooser{type: "file", multiple: true}

#file-drop-zone.bg-light
  %i.fa.fa-upload
  Attach files (not folders) by dropping them here or selecting them.
