#complete-modal.modal.fade{tabindex: "-1", role: "dialog",
                           "data-backdrop": "static",
                           "aria-labelledby": "complete-modal-label",
                           "aria-hidden": "true"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#complete-modal-label.modal-title Submission Complete
      .modal-body
        .alert.alert-info
          TODO: This is placeholder text. Provide finalized text (including link URLs) in a new JIRA ticket.
        Sint enim enim sequi quo perferendis accusantium ut. Pariatur amet facere natus voluptate explicabo est. Praesentium illo dicta provident aut ipsum omnis ratione. Voluptatem nemo qui soluta eius aut atque voluptatum. Nostrum ratione culpa veritatis et. Culpa itaque aut qui vero rerum blanditiis.
      .modal-footer
        = link_to "Done", root_path, class: "btn btn-primary"
