- provide :title, "Submission complete"

%h1 Submission complete!

%p
  Your submission will now go through the review process for this
  collection. You will receive an e-mail notification as soon as your
  submission has joined the collection, or if there is a problem with
  your submission. You may also check on the status of your submission
  by visiting your submissions page.

%p
  Please
  = link_to("contact us", "mailto:#{current_institution.feedback_email}")
  if you have any questions.
