##
# N.B. 1: Connection settings should not be edited in this file; edit the
# main application configuration instead.
#
# N.B. 2: The "*_2" databases enable the use of separate connection pools.
# The use case for this is to be able to update certain ActiveRecord instances
# from inside `ActiveRecord::Base.transaction` blocks and for those updates to
# be visible outside of the transaction. (See the Task model, for example.)
#

#############################################################################
#                  ENVIRONMENTS USING PLAIN TEXT CONFIG                     #
#############################################################################

<%
path        = File.join(Rails.root, "config", "credentials", "development#{ENV['DOCKER'] == "1" ? "-docker" : ""}.yml")
dev_config  = File.exist?(path) ? YAML.load(File.read(path)) : {}
path        = File.join(Rails.root, "config", "credentials", "test#{ENV['DOCKER'] == "1" ? "-docker" : ""}.yml")
test_config = File.exist?(path) ? YAML.load(File.read(path)) : {}
%>

default: &default
  adapter:      postgresql
  encoding:     unicode
  pool:         <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout:      5000
  min_messages: warning
  template:     template0

development: &development
  <<: *default
  host:     <%= dev_config['primary_db'] ? dev_config['primary_db']['host'] : nil %>
  port:     <%= dev_config['primary_db'] ? dev_config['primary_db']['port'] : nil %>
  database: <%= dev_config['primary_db'] ? dev_config['primary_db']['database'] : nil %>
  username: <%= dev_config['primary_db'] ? dev_config['primary_db']['username'] : nil %>
  password: <%= dev_config['primary_db'] ? dev_config['primary_db']['password'] : nil %>

development_2:
  <<: *development

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test: &test
  <<: *default
  host:     <%= test_config['primary_db'] ? test_config['primary_db']['host'] : nil %>
  port:     <%= test_config['primary_db'] ? test_config['primary_db']['port'] : nil %>
  database: <%= test_config['primary_db'] ? test_config['primary_db']['database'] : nil %>
  username: <%= test_config['primary_db'] ? test_config['primary_db']['username'] : nil %>
  password: <%= test_config['primary_db'] ? test_config['primary_db']['password'] : nil %>

test_2:
  <<: *test

#############################################################################
#                   ENVIRONMENTS USING ENCRYPTED CONFIG                     #
#############################################################################

<% db = Rails.application.credentials.dig(:primary_db) %>

demo: &demo
  <<: *default
  host:     <%= db ? db[:host] : nil %>
  port:     <%= db ? db[:port] : nil %>
  database: <%= db ? db[:database] : nil %>
  username: <%= db ? db[:username] : nil %>
  password: <%= db ? db[:password] : nil%>

demo_2:
  <<: *demo

production: &production
  <<: *default
  host:     <%= db ? db[:host] : nil %>
  port:     <%= db ? db[:port] : nil %>
  database: <%= db ? db[:database] : nil %>
  username: <%= db ? db[:username] : nil %>
  password: <%= db ? db[:password] : nil%>

production_2:
  <<: *production
