##
# N.B.: Connection settings should not be edited in this file; edit the
# main application configuration instead.
#

<%
path        = File.join(Rails.root, 'config', 'credentials', 'development.yml')
dev_config  = File.exists?(path) ? YAML.load(File.read(path)) : {}
path        = File.join(Rails.root, 'config', 'credentials', 'test.yml')
test_config = File.exists?(path) ? YAML.load(File.read(path)) : {}
%>

default: &default
  adapter:      postgresql
  encoding:     unicode
  pool:         <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout:      5000
  min_messages: warning
  template:     template0

development: &development
  <<: *default
  host:     <%= dev_config['primary_db'] ? dev_config['primary_db']['host'] : nil %>
  port:     <%= dev_config['primary_db'] ? dev_config['primary_db']['port'] : nil %>
  database: <%= dev_config['primary_db'] ? dev_config['primary_db']['database'] : nil %>
  username: <%= dev_config['primary_db'] ? dev_config['primary_db']['username'] : nil %>
  password: <%= dev_config['primary_db'] ? dev_config['primary_db']['password'] : nil %>

# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test: &test
  <<: *default
  host:     <%= test_config['primary_db'] ? test_config['primary_db']['host'] : nil %>
  port:     <%= test_config['primary_db'] ? test_config['primary_db']['port'] : nil %>
  database: <%= test_config['primary_db'] ? test_config['primary_db']['database'] : nil %>
  username: <%= test_config['primary_db'] ? test_config['primary_db']['username'] : nil %>
  password: <%= test_config['primary_db'] ? test_config['primary_db']['password'] : nil %>

cucumber:
  <<: *test

<% db = Rails.application.credentials.dig(:primary_db) %>

demo: &demo
  <<: *default
  host:     <%= db ? db[:host] : nil %>
  port:     <%= db ? db[:port] : nil %>
  database: <%= db ? db[:database] : nil %>
  username: <%= db ? db[:username] : nil %>
  password: <%= db ? db[:password] : nil%>

production: &production
  <<: *default
  host:     <%= db ? db[:host] : nil %>
  port:     <%= db ? db[:port] : nil %>
  database: <%= db ? db[:database] : nil %>
  username: <%= db ? db[:username] : nil %>
  password: <%= db ? db[:password] : nil%>
