development:
  solr:
    hostname: localhost
    port: 8982
    log_level: INFO
    path: /solr/development

test:
  solr:
    hostname: localhost
    port: 8981
    log_level: WARNING
    path: /solr/test

demo:
  solr:
    hostname: aws-rabbitmq-solr-demo.library.illinois.edu
    port: 8983
    log_level: WARNING
    path: /solr/ideals

production:
  solr:
    hostname: localhost
    port: 8983
    log_level: WARNING
    path: /solr/production
    # read_timeout: 2
    # open_timeout: 0.5
