- provide :title, "Not Found"

.text-center
  %h2 The page you were looking for doesn't exist.
  %hr
  %p You may have mistyped the address or the page may have moved.
  - if current_institution&.feedback_email
    %p
      System administrators may be contacted at:
      %a{href: "mailto:#{current_institution.feedback_email}"}
        = current_institution.feedback_email