.dialog.text-center
  %h2 We're sorry, but something went wrong.
  %hr
  %p
    Details have been logged.
    %b
    IDEALS @ Illinois administrators may be contacted at:
    %a{href: "mailto:#{::Configuration.instance.mail[:from]}"}
      = ::Configuration.instance.mail[:from]
