- provide :title, "Error"

.text-center.mt-4
  %h2.mb-4 We're sorry, but something went wrong.
  %hr
  %p Details have been logged, and system administrators have been notified.

- if Rails.env.development?
  %hr
  %h2 Details
  %code
    %pre= @message
