.dialog.text-center
  %h2 The page you were looking for doesn't exist.
  %hr
  %p You may have mistyped the address or the page may have moved.
  %p
    IDEALS @ Illinois administrators may be contacted at:
    %a{href: "mailto:#{current_institution.feedback_email}"}
      = current_institution.feedback_email