%h2
  Register an
  %em approved
  non-NetID IDEALS identity

%strong Non-NetID identity approval must be obtained before registering.
%em See section below form for additional information and options.
%hr
=form_tag('/auth/identity/register') do
  .form-group.required.row
    .col-md-2.col-md-offset-3
      %label.control-label{for: :name}
        Name
    .col-md-4
      =text_field_tag :name, nil, class: 'form-control'

  .form-group.required.row
    .col-md-2.col-md-offset-3
      %label.control-label{for: :email}
        Email
    .col-md-4
      =text_field_tag :email, nil, class: 'form-control'

  .form-group.required.row
    .col-md-2.col-md-offset-3
      %label.control-label{for: :password}
        Password
    .col-md-4
      =password_field_tag :password, nil, class: 'form-control'

  .form-group.required.row
    .col-md-2.col-md-offset-3
      %label.control-label{for: :pasword_confirmation}
        Password Confirmation
    .col-md-4
      =password_field_tag :pasword_confirmation, nil, class: 'form-control'
  .row
    .col-md-4.col-md-offset-5
      .pull-right
        =recaptcha_tags
  .row
    .col-md-2.col-md-offset-7
      %button(type="submit" class="btn btn-primary btn-block")
        Register
%hr
.row
  .col-md-4.col-md-offset-2
    %h3 Related alternative actions:
%hr
.row
  .col-md-4.col-md-offset-2
    Already registered a non-NetID IDEALS identity?
  .col-md-4
    %button{type: "button", class: "btn btn-info btn-block"}
      %a{href: "/identities/login", class: "idb"}
        %span.pull-left
          %i.fa.fa-user
          %i.fa.fa-sign-in-alt
          &nbsp;
          Log in with non-NetID identity
%br
.row
  .col-md-4.col-md-offset-2
    No Illinois NetID or registered identity?
  .col-md-4
    %button{type: "button", class: "btn btn-info btn-success"}
      %a{href: "/invitees/new", class: "idb"}
        %span.pull-left
          %i.fa.fa-user
          Request non-NetID identity
%br
.row
  .col-md-4.col-md-offset-2
    Have an Illinois NetID?
  .col-md-4
    %button{type: "button", class: "btn btn-primary btn-block "}
      %a{href: "/login", class: "idb"}
        %span.pull-left
          =image_tag 'favicon.ico'
          %i.fa.fa-sign-in-alt
          &nbsp;
          Log in with Illinois NetID

%hr