@import "bootstrap";

@import "fontawesome/fontawesome";
@import "fontawesome/regular";
@import "fontawesome/solid";

/* N.B.: can't have files in global/ with the same name as ones in parent dir */
@import "sitewide";
@import "header";
@import "global/sitewide_global";
@import "global/welcome";
@import "global/footer";