.card.search-status
  #search-status.card-body
    = search_status(@count, @start, @limit, "item")

.row.justify-content-md-center
  .col-md-auto
    = paginate(@count, @limit, @current_page, @permitted_params)

=resource_list(@resources)

.row.justify-content-md-center
  .col-md-auto
    = paginate(@count, @limit, @current_page, @permitted_params)