.card.search-status
  #search-status.card-body
    = search_status(@count, @start, @window, "item")

.row.justify-content-md-center
  .col-md-auto
    = paginate(@count, @window, @current_page, @permitted_params)

=resource_list(@items)

.row.justify-content-md-center
  .col-md-auto
    = paginate(@count, @window, @current_page, @permitted_params)