- pagination = paginate(count: @count, |
                        page: @current_page, |
                        per_page: @window, |
                        permitted_params: @permitted_params, |
                        start_arg: defined?(start_arg) ? start_arg : :start) |

.card.mb-3
  #search-status.card-body.pt-3.pb-3
    = search_status(@count, @start, @window, "item")

.row.justify-content-md-center
  .col-md-auto
    = pagination

= resource_list(@items)

.row.justify-content-md-center
  .col-md-auto
    = pagination
