- if @items.any?
  - pagination = paginate(count:            @count,
                          page:             @current_page,
                          per_page:         @window,
                          permitted_params: @permitted_params)
  .card
    #search-status.card-body.pt-3.pb-3
      = search_status(@count, @start, @window, "item")
      .btn-group.ml-3{role: "group"}
        %button.check-all.btn.btn-sm.btn-light{type: "button"}
          %i.far.fa-check-square
          Check All

  .row.justify-content-md-center.mt-3
    .col-md-auto
      = pagination

  = review_list(@items)

  .row.justify-content-md-center
    .col-md-auto
      = pagination

- else
  %p There are no submitted items to review.