- if policy(@item).show_embargoes?
  %h2.mt-5
    Embargoes
    - if policy(@item).edit_embargoes?
      %button.btn.btn-light.edit-item-embargoes{"data-item-id": @item.id,
                                                "data-target": "#edit-item-embargoes-modal",
                                                "data-toggle": "modal",
                                                role: "button"}
        %i.fas.fa-pencil-alt
        Edit

  - embargoes = @item.current_embargoes.order(:expires_at)
  - if embargoes.any?
    - embargoes.each do |embargo|
      .card.mb-3
        .card-header
          - if embargo.full_access
            All access
          - elsif embargo.download
            Downloads
          restricted
          - if embargo.perpetual
            in perpetuity
          - else
            until
            = local_date(embargo.expires_at)
        .card-body
          .row
            .col-sm-5
              %h6 Excepted User Groups
              - if embargo.user_groups.any?
                %ul
                - embargo.user_groups.each do |group|
                  %li= link_to(group.name, group)
              - else
                None
            .col-sm-7
              %h6 Reason
              %p= embargo.reason.present? ? embargo.reason : "None"
  - else
    This item has no embargoes.