- if policy(@item).show_embargoes?
  %h2.mt-5
    Embargoes
    - if policy(@item).edit_embargoes?
      %button.btn.btn-light.edit-item-embargoes{"data-item-id": @item.id,
                                                "data-target": "#edit-item-embargoes-modal",
                                                "data-toggle": "modal",
                                                role: "button"}
        %i.fas.fa-pencil-alt
        Edit

  - embargoes = @item.current_embargoes.order(:expires_at)
  - if embargoes.any?
    %table.table
      %thead
        %tr
          %th Downloads Restricted
          %th All Access Restricted
          %th Expires
      %tbody
        - embargoes.each do |embargo|
          %tr
            %td= boolean(embargo.download, style: :word, invert_color: true)
            %td= boolean(embargo.full_access, style: :word, invert_color: true)
            %td= local_date(embargo.expires_at)
  - else
    This item has no embargoes.