.btn-group.float-right{role: "group"}
  - if policy(@item).edit_membership?
    %button.btn.btn-light.edit-item-membership{"data-item-id": @item.id,
                                               "data-target": "#edit-item-membership-modal",
                                               "data-toggle": "modal",
                                               role: "button"}
      %i.fas.fa-pencil-alt
      Change Collection Ownership

= resource_list(@collections, primary_id: @item.primary_collection_id)
