.btn-group.float-right{role: "group"}
  - if policy(@resource).edit_metadata?
    %button.btn.btn-light.edit-item-metadata{"data-item-id": @resource.id,
                                             "data-target": "#edit-item-metadata-modal",
                                             "data-toggle": "modal",
                                             role: "button"}
      %i.fas.fa-pencil-alt
      Edit Metadata

- if policy(@resource).show_all_metadata?
  .row
    .col-md-6
      %h4 Visible Public Elements
      .alert.alert-light
        Metadata Profile:
        = link_to(@resource.effective_metadata_profile.name,
                    @resource.effective_metadata_profile)
      = metadata_as_dl(@resource.elements,
                         @resource.effective_metadata_profile)
    .col-md-6
      %h4 All Ascribed Elements
      = metadata_as_dl(@resource.elements)
- else
  = metadata_as_dl(@resource.elements,
                   @resource.effective_metadata_profile)
