- provide :body_id, "review_items"
- provide :title, "Review Submitted Items"

.btn-group.float-right{role: "group"}
  -# %button.btn.btn-light{type: "button"} 1
  .btn-group{role: "group"}
    %button#actions.btn.btn-light.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
      Actions
    .dropdown-menu.dropdown-menu-right{"aria-labelledby": "actions"}
      %a.approve-checked.dropdown-item{href: "#"}
        %i.fa.fa-check
        Approve Checked
      %a.reject-checked.dropdown-item{href: "#"}
        %i.fa.fa-times
        Reject Checked

%h1 Review Submitted Items

#items
  = render partial: "review_listing"
