/ Add-unit modal
#add-unit-modal.modal.fade{"aria-labelledby": "add-unit-modal-label", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h4#add-unit-modal-label.modal-title Add Unit
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} &times;
      .modal-body
        = render partial: "units/new_form", locals: { unit: unit }
