-# frozen_string_literal: true
-#
-# Required locals:
-#
-# unit [Unit]
-#
= form_for(unit, remote: true) do |f|
  .error-messages
    - # populated via ajax by shared/_validation_messages.js.erb

  .form-group
    = f.label :parent_id, "Parent Unit"
    = f.select(:parent_id,
        options_for_select(unit_tree_options(true), f.object.parent&.id),
        {}, { class: "custom-select" })

  .clearfix
    .float-right
      %button.btn.btn-light{"data-dismiss": "modal", type: "button"} Cancel
      = f.submit "Edit Unit", class: "btn btn-primary"
