-# frozen_string_literal: true
-#
-# Required locals:
-#
-# unit [Unit]
-#
= form_for(unit, remote: true) do |f|
  .error-messages
    -# populated via ajax by shared/_validation_messages.js.erb

  .mb-3
    = f.label :parent_id, "Parent Unit"
    = f.select(:parent_id,
        options_for_select(unit_tree_options(institution:        f.object.institution,
                                             exclude_unit:       f.object,
                                             include_root:       true,
                                             include_only_admin: true),
        f.object.parent&.id),
        {}, { class: "form-select" })

  .clearfix
    .float-end
      %button.btn.btn-light{"data-bs-dismiss": "modal", type: "button"} Cancel
      = f.submit("Save Changes", class: "btn btn-primary")
