.btn-group.float-right{role: "group"}
  - if policy(@unit).edit_properties?
    %button.btn.btn-light.edit-unit-properties{"data-unit-id": @unit.id,
                                               "data-target": "#edit-unit-properties-modal",
                                               "data-toggle": "modal",
                                               role: "button"}
      %i.fas.fa-pencil-alt
      Edit Properties

%dl
  %dt Handle URI
  %dd= @unit.handle&.url
  %dt Created
  %dd= local_time @unit.created_at
  %dt Updated
  %dd= local_time @unit.updated_at
