- provide :body_id, "list_units"
- provide :title, "Academic Units"

-if policy(Unit).new?
  .btn-group.float-right{role: "group"}
    / Add Unit button
    %button.btn.btn-light{"data-target": "#add-unit-modal",
                          "data-toggle": "modal", type: "button"}
      %i.fa.fa-plus
      Add Unit

%h1 Academic Units and Collections

= expandable_unit_list(@units)

= render partial: "units/add_modal", locals: { unit: @new_unit }