- provide :body_id, "list_units"
- provide :title, "Academic Units"

= google_analytics_tags

= hidden_field_tag :institution_id, current_institution.id

-if policy(Unit).new?
  .btn-group.float-end{role: "group"}
    -# Add Unit button
    %button.btn.btn-light.add-unit{"data-bs-target": "#add-unit-modal",
                                   "data-bs-toggle": "modal",
                                   type:             "button"}
      %i.fa.fa-plus
      Add Unit

%h1 Academic Units and Collections

= expandable_unit_list(@units)

= render partial: "shared/xhr_modal",
         locals: { id: "add-unit-modal",
                   title: "Add Unit" }