- provide :body_id, "list_units"
- provide :title, "Academic Units"

-if policy(Unit).new?
  .btn-group.float-end{role: "group"}
    -# Add Unit button
    %button.btn.btn-light.add-unit{"data-bs-target": "#add-unit-modal",
                                   "data-bs-toggle": "modal",
                                   type:             "button"}
      %i.fa.fa-plus
      Add Unit

%h1 Academic Units and Collections

= expandable_unit_list(@units)

= render partial: "shared/ajax_modal",
         locals: { id: "add-unit-modal",
                   title: "Add Unit" }