Academic Unit:
=@resource.title
%h2 Ancestors
=render partial: "units/listing", locals:{resources: @resource.ancestors}
%h2 Descendants
=render partial: "units/listing", locals:{resources: @resource.descendants}

-if @resource.children.count.positive?
  Sub Units
  =render partial: "units/listing", locals:{resources: @resource.children}
-if @resource.collections.count.positive?
  Collections
  =render partial: "collections/listing", locals:{resources: @resource.collections}

