Academic Unit:
=@resource.title
%h2 Ancestors
=render partial: "units/listing", locals:{resources: @resource.ancestor_units}
%h2 Descendants
=render partial: "units/listing", locals:{resources: @resource.descendant_units}
  
-if @resource.child_units.count.positive?
  Sub Units
  =render partial: "units/listing", locals:{resources: @resource.child_units}
-if @resource.collections.count.positive?
  Collections
  =render partial: "collections/listing", locals:{resources: @resource.collections}

