-# Add-element modal
#add-element-modal.modal.fade{"aria-labelledby": "add-element-modal-label",
                              role:              "dialog",
                              tabindex:          "-1"}
  .modal-dialog.modal-dialog-centered{role: "document"}
    .modal-content
      .modal-header
        %h4#add-element-modal-label.modal-title Add Element
        %button.btn-close{"aria-label":      "Close",
                          "data-bs-dismiss": "modal",
                          type:              "button"}
      .modal-body
        = render partial: "metadata_profile_elements/form",
                 locals: { profile: @profile, element: @new_element }
