#ui-lib-shared-footer {
  font-size: 14px;
  line-height: 1.5;
  li {
    margin: 0;
  }
  ul {
    margin: 0;
    margin-top: 14px;
    margin-bottom: 10px;
  }
  a.footer-link {
    color: $color__darkest-grey;
  }

  footer .text-block {
    margin: 8px 0;
    line-height: 1.3;
  }

  .footerheading {
    color: $color__navy;
    display: block;
    font-weight: bold;
    letter-spacing: inherit;
    margin-bottom: 0px;
    margin-top: 20px;
    text-decoration: none;
    text-transform: none;
  }

  address {
    font-style: normal;
    margin-top: 14px;
    margin-bottom: 7px;
    line-height: 1.5;
  }
  .footer-gift {
    padding-top: 7px;
  }
  #info {
    margin-top: 14px;
  }
  ul.socialmedia,
  ul.usergroups, {
    margin: 0;
    padding-left: 0;
  }

  ul.feedback,
  ul.about {
    margin-top: 14px;
    padding-left: 0;
  }

  ul.socialmedia li,
  ul.usergroups li,
  ul.feedback li,
  ul.about li {
    display: inline-block;
    padding-right: 7px;
    padding-bottom: 7px;
  }

  ul.socialmedia li a {
    color: #337ab7;
  }
}

.footer-info {
  background-color: $color__lightest-grey;
}

.copyright-footer {
  background-color: $color__dark-navy;
  border-top: 5px solid $color__light-grey;
  color: $color__text-light;
  font-size: 11px;
  line-height: 1.5;
  min-height: 90px;
  padding: 15px;
  text-align: center;
  p {
    margin: 0;
    margin-bottom: 10px;
  }
}
