body#list_items, body#list_collections {
  .facets {
    padding-right: 0px;
  }
  .filter-field {
    width: 18em;
  }
}

body#show_item {
  /* N.B.: main pane heights are controlled in ItemViewer (items.js) */
  #file-navigator {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 0 auto;
    width: 96%;
    #file-navigator-thumbnail-column {
      #file-navigator-thumbnail-content {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        height: 100%;
        padding: 4px;
        overflow-y: scroll;
        .section-heading {
          font-size: 0.9em;
          letter-spacing: 1px;
          margin: 4px 0 4px 0;
          height: 2.2em;
          padding: 4px;
          text-align: center;
          text-transform: uppercase;
          width: 100%;
        }
        .thumbnail {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          height: 24%;
          width: 47%;
          padding: 4px;
          margin: 4px;
          font-size: 0.75em;
          overflow: hidden;
          text-align: center;
          text-overflow: ellipsis;
          img {
            margin-bottom: 2px;
            max-height: 76%;
            max-width: 100%;
          }
          img[data-svg=true] {
            opacity: 0.75;
          }
        }
        .selected {
          outline: 2px solid white;
        }
      }
      #file-navigator-thumbnail-column-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 0.8em;
      }
    }
    #file-navigator-viewer-column {
      height: 100%;
      #file-navigator-viewer-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.4em;
        width: 100%;
        h4 {
          font-size: 1.2em;
          max-width: 70%;
          margin: 0;
          padding: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .btn-group {
          white-space: nowrap;
        }
      }
      #file-navigator-viewer-error {
        width: 100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #file-navigator-viewer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img {
          max-width: 100%;
        }
        audio {
          max-height: 50%;
          max-width: 80%;
        }
        object, video {
          height: 100%;
          width: 100%;
        }
        .text-viewer {
          background-color: white;
          padding: 1em;
          height: 100%;
          width: 100%;
          overflow: scroll;
        }
        .unsupported-format {
          text-align: center;
          .format-name {
            color: $gray-600;
            font-size: 2.5em;
          }
        }
        #file-navigator-viewer-info {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          background: rgba(0,0,0,0.7);
          backdrop-filter: blur(3px);
          dl {
            width: 75%;
            display: grid;
            grid-template-columns: 40% auto;
            dt {
              grid-column: 1;
            }
            dd {
              grid-column: 2;
              a {
                color: white;
              }
            }
          }
          code {
            color: white;
          }
        }
      }
    }
  }
  .creators {
    color: $gray-600;
    font-weight: normal;
  }
  #edit-item-membership-modal {
    .col-primary, .col-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  #edit-item-metadata-modal {
    textarea {
      height: 5em;
    }
    table {
      td {
        vertical-align: middle;
      }
      td:first-child {
        max-width: 12em;
        padding-left: 0;
      }
      table {
        width: 100%;
        td:first-child {
          text-align: right;
          width: 1px;
        }
        td:last-child {
          width: 100%;
        }
      }
      td:last-child {
        width: 1px;
        padding-right: 0;
      }
    }
  }
  .col-md-6.handle {
    margin: 0 auto;
    text-align: center;
    .card.handle {
      a {
        color: white;
      }
    }
  }
  dl.metadata, dl.properties {
    display: grid;
    grid-template-columns: 26% auto;
    dt {
      grid-column: 1;
    }
    dd {
      grid-column: 2;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
  }
  #events-accordion {
    .card-header {
      cursor: pointer;
      user-select: none;
      a {
        text-decoration: none;
      }
    }
  }
  .diff-added {
    background-color: #e1fce1;
  }
  .diff-changed {
    background-color: #fdf5d7;
  }
  .diff-removed {
    background-color: #fdecec;
  }
}
