body#list_items, body#list_collections {
  .facets {
    padding-right: 0px;
  }
  .filter-field {
    width: 18em;
  }
}

body#show_item {
  $thumb_size: 128px;
  #main-files, #other-files {
    img {
      max-height: $thumb_size;
      max-width: $thumb_size;
    }
  }
  #other-files-heading a {
    color: black;
    text-decoration: none;
  }
  .creators {
    color: $gray-600;
    font-weight: normal;
  }
  #edit-item-membership-modal {
    .col-primary, .col-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  #edit-item-metadata-modal {
    textarea {
      height: 5em;
    }
    table {
      td {
        vertical-align: middle;
      }
      td:first-child {
        max-width: 12em;
        padding-left: 0;
      }
      table {
        width: 100%;
        td:first-child {
          text-align: right;
          width: 1px;
        }
        td:last-child {
          width: 100%;
        }
      }
      td:last-child {
        width: 1px;
        padding-right: 0;
      }
    }
  }
  .col-md-6.handle {
    margin: 0 auto;
    text-align: center;
    .card.handle {
      a {
        color: white;
      }
    }
  }
  dl.metadata, dl.properties, dl.files {
    display: grid;
    grid-template-columns: 26% auto;
    dt {
      grid-column: 1;
    }
    dd {
      grid-column: 2;
    }
    ul {
      list-style: none;
      padding-left: 0;
    }
  }
  #events-accordion {
    .card-header {
      cursor: pointer;
      user-select: none;
      a {
        text-decoration: none;
      }
    }
  }
  .diff-added {
    background-color: #e1fce1;
  }
  .diff-changed {
    background-color: #fdf5d7;
  }
  .diff-removed {
    background-color: #fdecec;
  }
}
