@import 'variables';
@import 'header-style';
@import 'footer-style';
@import 'navbar';

//overrides for default libguide css. 

#site-nav a {
  font-size: 14px;
}

.navbar-nav > li > a {
  padding: 15px;
}

.s-lib-side-borders {
  background-color: #ffffff;
  box-shadow: 0px 15px 10px 2px #858585;
}

.row.lib-shared-header, .row.navbar.navbar-default, .row.footer-info, .row.lg-copyright-footer {
  margin-left: 0;
  margin-right: 0;
}

#s-lib-public-header, #s-lib-public-nav, #s-lib-public-main, #s-lib-footer-public, #s-lg-guide-main, #s-lg-tabs-container, #s-lg-guide-header {
  padding-left: 15px;
  padding-right: 15px;
}

.footer-info {
  font-size: 14px;
}

@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
}