// This stylesheet contains styles for elements that may appear in multiple
// views.

#navbar-supported-content {
  .nav-item {
    margin-bottom: 0;
    .nav-link {
      white-space: nowrap;
    }
  }
  input[type=search] {
    width: 180px;
  }
}

.resource-list {
  .check {
    height: 80px;
    display: flex;
    align-items: center;
  }
  .thumbnail {
    font-size: 4em;
    height: 80px;
    a {
      color: $gray-600;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0 0.25em 0.25em 0;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.facet {
  margin-bottom: 1em;
  .card-body {
    padding: 0.75em;
    ul {
      list-style-type: none;
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 0;
    }
    .term {
      font-size: 0.9em;
      text-indent: -1.2em;
      margin-left: 2.4em;
    }
    .count {
      background-color: #a0a0a0;
      color: white;
      font-weight: bold;
      font-size: 0.8em;
      border-radius: 0.8em;
      padding: 0.1em 0.3em;
    }
  }
}

.nav {
  margin-bottom: 1em;
}

.boolean {
  font-size: 1.2em;
  text-align: center;
}

.bg-info a {
  color: white;
}

[disabled], .disabled {
  cursor: not-allowed;
}
