// This stylesheet contains styles for elements that may appear in multiple
// views.

html {
  overflow-x: hidden;
}

.container, .container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.page-content {
  padding-left: 15px;
  padding-right: 15px;
}

#sitewide-banner-message {
  border: 0;
  border-radius: 0;
  font-size: 0.9em;
  margin: 0;
  padding: 0.3em 0.5em;
}
#sitewide-banner-message.alert-info {
  background-color: #bfdaff;
}
#sitewide-banner-message.alert-warning {
  background-color: #fcd88a;
}
#sitewide-banner-message.alert-danger {
  background-color: #c00000;
  color: white;
}

.bg-info {
  background-color: #337ab7 !important;
}

.alert-light {
  background-color: $gray-100;
}

h1 {
  line-height: 1.1em;
  small {
    font-size: 0.6em;
  }
}

blockquote {
  font-style: italic;
}

code {
  color: black;
}

.navbar-toggler-icon {
  background-image: image_url("fontawesome/black/bars.svg");
}

#navbar-supported-content {
  .nav-item {
    margin-bottom: 0;
    .nav-link {
      white-space: nowrap;
    }
  }
  input[type=search] {
    width: 180px;
  }
}

.resource-list {
  .check {
    height: 80px;
    display: flex;
    align-items: center;
  }
  .format-icon {
    color: $gray-600;
    font-size: 0.9em;
    padding-left: 0.5em;
  }
  .icon-thumbnail {
    font-size: 100px;
  }
  .icon-thumbnail, .image-thumbnail {
    $thumb-width: 120px;
    margin-right: 10px;
    max-height: 120px;
    max-width: $thumb-width;
    width: $thumb-width;
    color: $gray-500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    img {
      width: $thumb-width;
    }
    a {
      color: $gray-500;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.facet {
  margin-bottom: 1em;
  .card-body {
    padding: 0.75em;
    ul {
      list-style-type: none;
      margin-bottom: 0;
      margin-left: 0;
      padding-left: 0;
    }
    .term {
      font-size: 0.9em;
      text-indent: -1.2em;
      margin-left: 2.4em;
    }
    .count {
      background-color: #808080;
      color: white;
      font-weight: bold;
      font-size: 0.8em;
      border-radius: 0.8em;
      padding: 0.1em 0.3em;
    }
  }
}

.nav-pills .active .badge {
  background: white;
  color: red;
}

.nav {
  margin-bottom: 1em;
}

.boolean {
  font-size: 1.2em;
  text-align: center;
}

.bg-info a {
  color: white;
}

[disabled], .disabled {
  cursor: not-allowed;
}

#files-form table.files {
  td:nth-child(3), td:nth-child(4), td:nth-child(5), td:last-child {
    width: 1%;
    white-space: nowrap;
  }
}
.file-chooser {
  display: none;
}
.file-drop-zone {
  border: 4px dashed #d0d0d0;
  border-radius: 18px;
  color: #606060;
  cursor: pointer;
  font-size: 1.3em;
  margin: 0 auto;
  max-width: 35em;
  padding: 2em;
  text-align: center;
}

@import "header";
@import "footer";