// This stylesheet contains styles for elements that may appear in multiple
// views.

.resource-list {
  .thumbnail {
    font-size: 4em;
    a {
      color: $gray-600;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0 0.25em 0.25em 0;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

.nav {
  margin-bottom: 1em;
}