body#deposit-agreement-body {
  #feedback {
    display: none;
  }

  .card-header {
    .btn-link {
      color: black;
      font-size: 1.3em;
      padding: 0;
      text-decoration: none;
    }
  }
}

body#edit_submission {
  .message {
    div {
      display: none;
    }
  }
  table.metadata {
    td:first-child {
      width: 30%;
    }
    td.message {
      width: 15%;
    }
    textarea {
      height: 10em;
    }
    .input-group-append {
      display: none;
    }
  }

  table.files {
    td {
      vertical-align: middle;
    }
    td:nth-child(1), td:nth-child(3), td:nth-child(5) {
      white-space: nowrap;
    }
    td:nth-child(1), td:nth-child(5) {
      width: 1%;
    }
    td:nth-child(4) {
      width: 20%;
    }
  }
}
