body#welcome {
  overflow-x: hidden;
  #navbarColor01 {
    margin-bottom: -14px;
  }
  #welcome-image {
    /* https://digital.library.illinois.edu/items/f07734a0-4b72-0134-1da8-0050569601ca-f */
    background-image: url("blue_filter.png");
    margin: -16px -16px 1em -16px;
    background-position: center;
    border-bottom: 3px solid $uiuc-orange;
    display: flex;
    height: 200px;
    flex-flow: column nowrap;
    justify-content: center;
    .input-group {
      margin: 0px !important;
    }
  }
  ul {
    line-height: 1.5em;
    li {
      margin-bottom: 0.75em;
    }
  }
}