body#welcome {
  overflow-x: hidden;
  #navbarColor01 {
    margin-bottom: -14px;
  }
  #welcome-image {
    background-image: image-url("orange_network.jpg");
    margin: -16px -16px 1em -16px;
    background-position: center;
    border-bottom: 3px solid $gray-400;
    display: flex;
    height: 200px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    form {
      width: 25em;
      input#q {
        border: 1px solid red; /* TODO: make customizable */
        width: 80%;
      }
    }
    #advanced-search-link {
      background-color: rgba(0,0,0,0.3);
      color: white;
      font-size: 0.9em;
      padding: 0.3em 0.5em;
    }
  }
  .page-content {
    ul {
      line-height: 1.5em;

      li {
        margin-bottom: 0.75em;
      }
    }
  }
}