body#welcome {
  overflow-x: hidden;
  #navbarColor01 {
    margin-bottom: -14px;
  }
  #welcome-image {
    background-image: url("orange_network.jpg");
    margin: -16px -16px 1em -16px;
    background-position: center;
    border-bottom: 3px solid $uofi-orange;
    display: flex;
    height: 200px;
    flex-flow: column nowrap;
    justify-content: center;
    .input-group {
      margin: 0px !important;
    }
    input#q {
      border: 1px solid $uofi-orange;
    }
  }
  ul {
    line-height: 1.5em;
    li {
      margin-bottom: 0.75em;
    }
  }
}