-# Add-profile modal
#add-profile-modal.modal.fade{"aria-labelledby": "add-profile-modal-label",
                              role:              "dialog",
                              tabindex:          "-1"}
  .modal-dialog.modal-dialog-centered{role: "document"}
    .modal-content
      .modal-header
        %h4#add-profile-modal-label.modal-title Add Profile
        %button.btn-close{"aria-label":      "Close",
                          "data-bs-dismiss": "modal",
                          type:              "button"}
      .modal-body
        = render partial: 'form', locals: { profile: @new_profile }
