%table.table
  %thead
    %tr
      %th Name
      %th
  %tbody
    - @profiles.each do |profile|
      %tr
        %td
          = link_to(profile.name, profile)
        %td
          - if profile.institution_default
            %span.badge.text-bg-success DEFAULT
          - elsif policy(profile).edit?
            = button_to("Set as Default",
                        profile,
                        remote: true,
                        params: { metadata_profile: { institution_default: true }},
                        class:  "btn btn-sm btn-light")
