- provide :body_id, "metadata_profiles"
- provide :title, "Metadata Profiles"

.btn-group.float-end{role: "group"}
  -# Add Profile button
  %button.btn.btn-light.add-profile{"data-bs-target": "#add-profile-modal",
                                    "data-bs-toggle": "modal",
                                    type:             "button"}
    %i.fa.fa-plus
    Add Profile

%h1 Metadata Profiles

%table.table
  %thead
    %tr
      %th Name
  %tbody
    - @profiles.each do |profile|
      %tr
        %td
          = link_to(profile.name, profile)
          - if profile.institution_default
            %span.badge.text-bg-success DEFAULT

= render partial: "shared/ajax_modal",
         locals: { id: "add-profile-modal", title: "Add Metadata Profile" }
= render partial: "shared/ajax_modal",
         locals: { id: "edit-profile-modal", title: "Edit Metadata Profile" }

