name: CI
on: [push, pull_request]
jobs:
  build:
    name: Test in Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Install Docker Compose
        run: sudo apt-get update && sudo apt-get install -y docker-compose
      - name: Run the tests
        run: docker-compose -f docker-compose.yml -f docker-compose.test.yml up --build --exit-code-from ideals-test
