name: CI
on: [push]
jobs:
  build:
    name: Test in Ubuntu
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:12-alpine
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      elasticsearch:
        image: elasticsearch:7.5.1
        ports:
          - 9200:9200
          - 9300:9300
        options: discovery.type=single-node
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Run tests
        run: |
          docker build -t ideals/tests .
          docker run -e RAILS_ENV=ci ideals/tests "bin/rails" "db:migrate"
          docker run -e RAILS_ENV=ci ideals/tests "bin/rails" "test" "-e" "ci"
      # TODO: enable this once migrated to rails 6.0.3
      #- name: Run zeitwerk check
      #  run: |
      #    docker build -t ideals/tests .
      #    docker run -e RAILS_ENV=ci ideals/tests /bin/sh -c "bin/rails zeitwerk:check -e ci"
