name: CI
on: [push]
jobs:
  build:
    name: Test in Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run tests
        run: |
          docker pull postgres:12
          docker pull elasticsearch:7.5.1
          docker build -t ideals/tests .
          docker run --rm -p 5432:5432 --name ideals-postgres -d postgres:12
          docker run --rm -p 9200:9200 -p 9300:9300 --name ideals-elasticsearch -e "discovery.type=single-node" -d elasticsearch:7.5.1
          docker run -e RAILS_ENV=ci ideals/tests "bin/rails" "db:migrate"
          docker run -e RAILS_ENV=ci ideals/tests "bin/rails" "test" "-e" "ci"
      # TODO: enable this once migrated to rails 6.0.3
      #- name: Run zeitwerk check
      #  run: |
      #    docker build -t ideals/tests .
      #    docker run -e RAILS_ENV=ci ideals/tests /bin/sh -c "bin/rails zeitwerk:check -e ci"
