name: CI
on: [push]
jobs:
  build:
    name: Test in Ubuntu
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:12-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: ideals
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      elasticsearch:
        image: elasticsearch:7.5.1
        ports:
          - 9200:9200
        env:
          discovery.type: single-node
        options: --name ideals-elasticsearch
    steps:
      - name: Install Elasticsearch plugins
        run: docker exec ideals-elasticsearch bin/elasticsearch-plugin install --silent analysis-icu
      - name: Install system dependencies
        run: sudo apt-get -y install build-essential libmagic-dev libpq-dev curl
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Prepare the configuration
        run: cp config/credentials/ci.yml config/credentials/test.yml
      - name: Install Ruby
        # This will install the version specified in `.ruby-version`
        uses: eregon/use-ruby-action@master
      - name: Install gems
        run: |
          gem install bundler
          bundle config path vendor/bundle
          bundle config set without "development test"
          bundle install --jobs 4 --retry 3
      - name: Run the tests
        env:
          SECRET_KEY_BASE: whateverdoesntmatter
        run: |
          bin/rails db:prepare
          bin/rails test
      # TODO: Rails 6.0.2 has a bug that causes this to fail. Enable it once migrated to rails 6.0.3.
      #- name: Check class names
      #  run: bin/rails zeitwerk:check
