.clearfix

%footer{role: "contentinfo"}
  .text-line
    \#{link_to 'Contact us', "mailto:#{current_institution.feedback_email}"}
    for questions and to provide feedback.
  .info-area
    %a{href: "https://illinois.edu"}
      -# TODO: fix
      -#= image_tag '009_LIBRA_OrangeI_Vert_RGB.png',
      -#  class: 'footer-library_i-mark',
      -#  alt: 'University of Illinois Logo'
    .footer-copyright.text-center
      Copyright © 2022 University of Illinois Board of Trustees
