.clearfix

%footer{role: "contentinfo"}
  .text-line
    \#{link_to 'Contact us', "mailto:#{Institution.find_by_key("uiuc").feedback_email}"}
    for questions and to provide feedback.
  .info-area
    Copyright © 2023 University of Illinois Board of Trustees
