= form_tag(search_path, method: "get", role: "search") do
  .input-group
    %input.form-control{name:         "q",
                        type:         "search",
                        placeholder:  "Search",
                        "aria-label": "Search"}
    %button.btn.btn-outline-secondary.me-3{type: "submit"}
      %i.fa.fa-search
      %span.sr-only Search