%h1 Element Registry

%table.table.table-striped
  %thead
    %tr
      %th
      %th
      %th Name
      %th Scope Note
  %tbody
    - @elements.each do |element|
      %td
      %td
      %td= element.name
      %td= element.scope_note
